<html>

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115056066-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-115056066-1');
        </script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5614336716241655",
            enable_page_level_ads: true
          });
        </script>
	<meta charset="UTF-8">
	<meta name="description" content="Calculate Beta Angle and Alpha Angle in CAD and Engineering Drawing.">
	<meta name="keywords" content="Alpha, Beta, Angle, CAD, CAED, VTU, Drawing, Engineering, 17CED14, 17CED24, 17CED1424">
	<meta name="author" content="Menahi Shayan">
	<!-- favicon data
        <link rel="icon" href="icon64.png"> -->
	<link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="manifest" href="favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!-- end of favicon data -->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
	<link rel="stylesheet" type="text/css" href="beta.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Beta Angle Calculator</title>

</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="drags.js"></script>
<script type="text/javascript">
	function openBeta() {
		$('.alphaCalc').hide();
		$('.betaCalc').show();
		event.currentTarget.className += " active";
		var othertab = document.getElementsByClassName("alpha_tab");
		othertab[0].className = othertab[0].className.replace(" active", "");
	}

	function openAlpha() {
		$('.betaCalc').hide();
		$('.alphaCalc').show();
		event.currentTarget.className += " active";
		var othertab = document.getElementsByClassName("beta_tab");
		othertab[0].className = othertab[0].className.replace(" active", "");
	}

	$(document).ready(function() {
		$('.info').drags();

		//$('.beta_tab').click();
		var isMobile = window.matchMedia("only screen and (max-width: 768px)");

		if (isMobile.matches) {
			document.getElementById("default_open").click();
		}
	});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
	var app = angular.module('angleCalc', []);
            app.controller('myCtrl', function($scope) {
                $scope.Math = window.Math;

                $scope.filterValue = function($event){
                if(isNaN(String.fromCharCode($event.keyCode))){
                    $event.preventDefault();
                }
            };
        });
    </script>

<body>

	<div class="tab1"><button class="beta_tab" onclick="openBeta()" id="default_open">&beta;</button></div>
	<div class="tab2"><button class="alpha_tab" onclick="openAlpha()">&alpha;</button></div>

	<div ng-app="angleCalc" ng-controller="myCtrl">


		<div class="betaCalc">
			<h1>&beta;-Angle Calculator</h1>
			<p>Calculates apparent angle made by a plane with respect to the Vertical Plane (VP) when it is inclined to both the Horizontal Plane (HP) and the Vertical Plane (VP).</p>

			<h3>Enter inclination to:</h3>

			<center>
				<form>
					<input type="text" ng-model="hp1" placeholder="HP" required ng-keypress="filterValue($event)" size="4" class="input_b"> &nbsp;&nbsp;
					<input type="text" ng-model="vp1" placeholder="VP" required ng-keypress="filterValue($event)" size="4" class="input_b"><br>
				</form>

				<div id="demo" ng-if="hp1 && vp1" class="result_b">&beta;-Angle: {{Math.round(Math.asin(Math.sin(vp1*Math.PI/180)/Math.cos(hp1*Math.PI/180))*180/Math.PI)}}&deg;</div>
			</center>

		</div>

		<div class="alphaCalc">
			<h1>&alpha;-Angle Calculator</h1>
			<p>Calculates apparent angle made by a plane with respect to the Horizontal Plane (HP) when it is inclined to both the Horizontal Plane (HP) and the Vertical Plane (VP).</p>

			<h3>Enter inclination to:</h3>

			<center>
				<form>
					<input type="text" ng-model="hp2" placeholder="HP" required ng-keypress="filterValue($event)" size="4" class="input_a"> &nbsp;&nbsp;
					<input type="text" ng-model="vp2" placeholder="VP" required ng-keypress="filterValue($event)" size="4" class="input_a"><br>
				</form>

				<div id="demo" ng-if="hp2 && vp2" class="result_a">&alpha;-Angle: {{Math.round(Math.asin(Math.sin(hp2*Math.PI/180)/Math.cos(vp2*Math.PI/180))*180/Math.PI)}}&deg;</div>
			</center>

		</div>

	</div>
	<center>
		<p id="note">Note: All angles are in degrees.</p>
	</center>

	<br><br><br><br>

	<div class="info">
		<a href="https://github.com/menahishayan" alt="GitHub"><img src="Name2_1x.png" width="40%" style="padding: 10px;"></a>

		<div class="mediaholder">
			<a href="mailto:menahi.shayan@gmail.com" alt="Email"><img src="email.png" class="media"></a>
			<a href="http://www.twitter.com/menahishayan" alt="Twitter"><img src="twit.png" class="media"></a>
			<a href="https://www.instagram.com/therealshayan/" alt="Instagram"><img src="instagram.png" class="media"></a>
		</div>

	</div>
</body>

</html>