<html>

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115056066-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-115056066-1');
        </script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5614336716241655",
            enable_page_level_ads: true
          });
        </script>
	<meta charset="UTF-8">
	<meta name="description" content="Calculate Cost of Your Mobile Plan in the UAE">
	<meta name="keywords" content="Cost, UAE, Dubai, Sharjah, Abu-Dhabi, Etisalat, Du, Arabia, AED, Internet, Mobile, Data, Plan, Network, Phone, Talktime">
	<meta name="author" content="Menahi Shayan">
	<!-- favicon data
        <link rel="icon" href="icon64.png"> -->
	<link rel="apple-touch-icon" sizes="57x57" href="favicon2/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon2/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon2/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon2/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon2/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon2/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon2/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon2/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon2/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="favicon2/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon2/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon2/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon2/favicon-16x16.png">
	<link rel="manifest" href="favicon2/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="favicon2/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!-- end of favicon data -->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
	<link rel="stylesheet" type="text/css" href="cost.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cost Calculator</title>

</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="drags.js"></script>
<script type="text/javascript">
	function openEnglish() {
		$('.arabicCalc').hide();
		$('.englishCalc').show();
		event.currentTarget.className += " active";
		var othertab = document.getElementsByClassName("arabic_tab");
		othertab[0].className = othertab[0].className.replace(" active", "");
	}

	function openArabic() {
		$('.englishCalc').hide();
		$('.arabicCalc').show();
		event.currentTarget.className += " active";
		var othertab = document.getElementsByClassName("english_tab");
		othertab[0].className = othertab[0].className.replace(" active", "");
	}
	$(document).ready(function() {
		$('.info').drags();

		//$('.english_tab').click();
		var isMobile = window.matchMedia("only screen and (max-width: 768px)");

		if (isMobile.matches) {
			document.getElementById("default_open").click();
		}
	});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
	var app = angular.module('angleCalc', []);
            app.controller('myCtrl', function($scope) {
                $scope.Math = window.Math;

                $scope.filterValue = function($event){
                if(isNaN(String.fromCharCode($event.keyCode))){
                    $event.preventDefault();
                }
            };
        });
    </script>

<body>

	<div ng-app="angleCalc" ng-controller="myCtrl">

		<div class="tab1"><button class="english_tab" onclick="openEnglish()" id="default_open">A</button></div>
		<div class="tab2"><button class="arabic_tab" onclick="openArabic()">ع</button></div>

		<div class="englishCalc">
			<h1>Cost Calculator</h1>
			<p>Calculates cost of your mobile plan for data and talktime in the UAE.</p>

			<h3 ng-if="!dataTouch && !minTouch && !costTouch">Fill in your plan</h3>
			<h3 ng-if="dataTouch && !minTouch && !costTouch">How much data do you get? (MB)</h3>
			<h3 ng-if="!dataTouch && minTouch && !costTouch">How many minutes of talktime?</h3>
			<h3 ng-if="!dataTouch && !minTouch && costTouch">How much are you paying? (AED)</h3>

			<center>
				<form>
					<input type="text" ng-model="data" placeholder="Data" required ng-keypress="filterValue($event)" ng-focus="dataTouch = true" ng-blur="dataTouch = false" size="5" class="input_b"> &nbsp; &nbsp;
					<input type="text" ng-model="mins" placeholder="Min" required ng-keypress="filterValue($event)" ng-focus="minTouch = true" ng-blur="minTouch = false" size="5" class="input_b"> &nbsp; &nbsp;
					<input type="text" ng-model="cost" placeholder="Cost" required ng-keypress="filterValue($event)" ng-focus="costTouch = true" ng-blur="costTouch = false" size="5" class="input_b"><br>
				</form>

				<div id="demo" ng-if="data && mins && cost && (cost>(mins*0.4))" class="result_b">
					Talktime: {{mins*0.4}} min<br>
					Data/AED: {{(data/(cost-(mins*0.4))) | number : 1}} MB<br>
				</div>
			</center>

		</div>

		<div class="arabicCalc">
			<h1>حاسبة التكلفة</h1>
			<p>يحسب تكلفة خطة المحمول الخاصة بك للبيانات وزمن التكلم في الإمارات العربية المتحدة.</p>

			<h3 ng-if="!dataTouch && !minTouch && !costTouch">اكتب خطتك</h3>
			<h3 ng-if="dataTouch && !minTouch && !costTouch">(MB) ما مقدار البيانات التي تحصل عليها؟</h3>
			<h3 ng-if="!dataTouch && minTouch && !costTouch">كم دقيقة من زمن التكلم؟</h3>
			<h3 ng-if="!dataTouch && !minTouch && costTouch">(كم أنت تدفع؟ (درهم</h3>

			<center>
				<form>
					<input type="text" ng-model="cost" placeholder="درهم" required ng-keypress="filterValue($event)" ng-focus="costTouch = true" ng-blur="costTouch = false" size="5" class="input_a"> &nbsp; &nbsp;
					<input type="text" ng-model="mins" placeholder="الدقائق" required ng-keypress="filterValue($event)" ng-focus="minTouch = true" ng-blur="minTouch = false" size="5" class="input_a"> &nbsp; &nbsp;
					<input type="text" ng-model="data" placeholder="الإنترنت" required ng-keypress="filterValue($event)" ng-focus="dataTouch = true" ng-blur="dataTouch = false" size="5" class="input_a"><br>
				</form>

				<div id="demo" ng-if="data && mins && cost && (cost>(mins*0.4))" class="result_b">
					وقت التحدث {{mins*0.4}} الدقائق <br>
					MB {{(data/(cost-(mins*0.4))) | number : 1}} البيانات الخلوية / درهم
					<br>
				</div>
			</center>

		</div>

	</div>
	<center>
		<p id="note">
			Disclaimer: Not affiliated with Etisalat, Du or other network provider.<br>
			<a href="http://zaid03.ml/data_calculator/calculate.html" alt="Original">Original Concept Credit</a>
		</p>
	</center>
	<div class="subcontent">

	</div>

	<div class="info">
		<img src="Name2_1x.png" width="40%" style="padding: 10px;">

		<div class="mediaholder">
			<a href="mailto:menahi.shayan@gmail.com" alt="Email"><img src="email.png" class="media"></a>
			<a href="http://www.twitter.com/menahishayan" alt="Twitter"><img src="twit.png" class="media"></a>
			<a href="https://www.instagram.com/therealshayan/" alt="Instagram"><img src="instagram.png" class="media"></a>
		</div>

	</div>
</body>

</html>