.tweet-container > article {
  --tweet-header-font-size: 14px;
  --tweet-body-font-size: 14px;
  --tweet-quoted-body-font-size: 14px;
  --tweet-info-font-size:12px;

  --tweet-header-line-height: 1.25;
  --tweet-body-line-height: 1.325;
  --tweet-quoted-body-line-height: 1.25;
}

.tweet-container {
    break-inside: avoid;
    --tweet-container-margin: 0.5rem 0 !important;
}

.card-item {
  @apply bg-white shadow-md rounded-lg p-4 min-w-60 w-auto flex items-end cursor-pointer dark:bg-slate-900;
}