@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800;900&display=swap');

body {
  overflow-x: hidden;
}

section {
  height: 200vh;
  width: 100vw;
  text-align: center;
  overflow: hidden;
}

.slide-1 {
  /* background-image: linear-gradient( 134.6deg,  rgba(201,37,107,1) 15.4%, rgba(116,16,124,1) 74.7% ); */
  background-image: radial-gradient(circle farthest-corner at 83.7% 4.3%, rgba(173, 0, 171, 1) 0%, rgba(15, 51, 92, 1) 90%);
}

.slide-1-wave-container {
  position: absolute;
  left: -2px;
  width: 101%;
  top: -22vw;
  filter: drop-shadow(0px -9px 43px 0px rgba(0, 0, 0, 0.93));
}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10%) scale(.9);
  }

  20% {
    opacity: 0;
    transform: translateY(-2%) scale(.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.main-title {
  color: white;
  font-weight: 900;
  font-size: 82px;
  text-transform: uppercase;
  /* line-height: 70vh; */
  margin-top: 25%;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 4px 18px rgba(0, 0, 0, 0.253);

  animation: fadeInAnimation cubic-bezier(.29, .81, .48, 1.03) 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.subtitle {
  color: white;
  font-size: 30px;
  display: inline-block;
  margin-top: 0;
  font-weight: bold;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.253);
}

.slide-2,
.slide-3 {
  background-color: white;
  height: 150vh;
}


.slide-2-statement {
  font-size: 60px;
  /* display: inline-block; */
  margin-bottom: 12vh;
  font-weight: 700;
  font-style: italic;
}

.slide-3-statement {
  font-size: 60px;
  /* display: inline-block; */
  font-weight: 700;
}

.tg-pink {
  background: linear-gradient(to right, #bc4e9c, #f80759);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 70px;
}

.tg-yellow {
  background: linear-gradient(to right, #fdc830, #f37335);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 70px;
}

.tg-purple {
  background: linear-gradient(to right, #4568dc, #b06ab3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 70px;
}

.slide-3-pretext {
  font-size: 40px;
  margin-bottom: 12vh;
  margin-top: 12vh;
  font-weight: 600;
}

.para {
  font-size: 22px;
  color: grey;
  word-wrap: normal;
  font-weight: 400;
  text-align: left;
}

.tech-badge-container {
  /* height: 40px;
  width: 40px; */
  padding: 15px;
  border-radius: 50px;
  /* border: 2px solid black; */
  margin: 10px;
  position: relative;
}

.tech-badge {
  height: 45px;
  width: 45px;
}

.tooltiptext {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.459);
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 16px;
  position: absolute;
  z-index: 1;
  left: 0;
  margin-top: -30px;
  font-size: 14px;
  font-weight: 600;
}

.tech-badge-container:hover .tooltiptext {
  visibility: visible;
}

.oven-screenshot {
  height: 80vh;
  transform: rotate(-30deg);
  margin-top: 10vh;
  margin:25px;
}